{% extends "base.html" %}

{% block heading %}
Tags
{% endblock %}

{% block add_task_button %}
<a href="{% url 'catalog:add_tag' %}" class="btn btn-primary">Add</a>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for tag in tags %}
    <tr>
      <td>{{ tag.name }}</td>
      <td><a href="{% url 'catalog:tag-update' tag.pk %}">Update</a></td>
      <td><a href="{% url 'catalog:tag-delete' tag.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
